@charset "UTF-8";
body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 17px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1140px;
  margin: 0 auto;
  /*border: 1px solid var(--pink-dark-color);*/
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: #777;
}

.header__wrapper {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__logo_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__navigation {
  display: none;
}

.header__button {
  background-color: transparent;
  border: none;
  margin: 0 0 0 33px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
}

.intro__heading {
  font-size: 48px;
  font-weight: 900;
  font-style: normal;
  line-height: 58px;
  text-transform: uppercase;
  /*background: rgba(0, 0, 0, 0.5);*/
}

.intro__heading_wrapper {
  width: 100%;
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 40px;
}

.intro__text {
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 38px;
  display: block;
}

.intro__pink {
  color: #F16D7F;
}

.stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stock__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 64px 0 98px 0px;
}

.stock__item {
  width: 360px;
  min-height: 260px;
  background-color: rgba(33, 22, 22, 0.7);
}

.stock__item_women {
  background-image: url(../img/stock-img-1-2.jpg);
}

.stock__item_man {
  background-image: url(../img/stock-img-2-2.jpg);
}

.stock__item_kids {
  background-image: url(../img/stock-img-3-2.jpg);
}

.stock__item_shoes {
  width: 100%;
  min-height: 180px;
  margin: 30px 0 0 0;
  background-image: url(../img/stock-img-4-2.jpg);
}

.stock__text_white {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19.2px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 105px 0 0 0;
}

.stock__text_white_luxirous {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19.2px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 65px 0 0 0;
}

.stock__text_pink {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #F16D7F;
}

.fetured {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*border: $border-width solid $border-color;*/
}

.fetured__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 125px;
  /*border: $border-width solid $border-color;*/
}

.fetured__item {
  width: 360px;
  min-height: 581px;
  background: #F8F8F8;
  margin-bottom: 30px;
}

.fetured__item_two {
  padding: 0px 0px 0px 0px;
}

.fetured__header {
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin: 26px 0 0 18px;
}

.fetured__text {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
  color: #5D5D5D;
  margin: 13px 0 0 17px;
}

.fetured__price {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  color: #F16D7F;
  margin: 18px 0 0 18px;
}

.fetured__button {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  /*min-width: 211px;
        min-height: 47px;*/
  border: 1px solid #FF6A6A;
  color: #F26376;
  padding: 14px 39px;
  text-decoration: none;
  display: inline-block;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  margin: 48px 0 0 580px;
}

.fetured__heading {
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  line-height: 36px;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*border: 1px solid chocolate;*/
}

.fetured__heading_text {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  color: #9F9F9F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 6px 0px 48px 0px;
  /*border: 1px solid chocolate;*/
}

.advanteges {
  /*.advanteges__item_logo {
        align-self: center;
        margin-bottom: 0px;
        position: relative;
    }*/
}

.advanteges__list {
  min-height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #222224;
  margin: 96px 0 0 0;
  /*border: 1px solid chocolate;*/
}

.advanteges__item {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 0 0px;
  /*border: 1px solid cyan;*/
}

.advanteges__header {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #FBFBFB;
  text-align: center;
  margin-top: 25px;
}

.advanteges__text {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  margin-top: 16px;
}

.subscribe {
  background: no-repeat center/100% url(../img/subscribe-back-gr-1.jpg);
  /*border: $border-width solid $border-color;*/
}

.subscribe__list {
  min-height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 0 0;
  /*border: 1px solid chocolate;*/
}

.subscribe__girl {
  width: 360px;
  /*height: 99px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*border: 1px solid cyan;*/
}

.subscribe__girl_text {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 50px;
}

.subscribe__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*border: 1px solid cyan;*/
}

.subscribe__text_first {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  line-height: 40px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.subscribe__text_second {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 32px;
}

.subscribe__button_gray {
  /*min-width: 323px;
        min-height: 49px;
        border: 1px solid #FF6A6A;
        /*margin: 48px 0 0 500px;
        display: block;
        justify-content: center;*/
  width: 323px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  text-align: left;
  color: #222224;
  background: #E1E1E1;
  border-radius: 18px;
  text-decoration: none;
  /*display: flex;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 0px 16px 22px;
  margin: 0px 0 0 0;
}

.subscribe__button_pink {
  /*min-width: 323px;
        min-height: 49px;
        border: 1px solid;
        /*margin: 48px 0 0 500px;
        display: block;
        justify-content: center;*/
  width: 100px;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background: #F16D7F;
  border-radius: 0 18px 18px 0;
  text-decoration: none;
  /*display: flex;*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px 7px 16px 8px;
  margin: 0 0 0 232px;
  position: absolute;
}

.footer {
  background-color: #555555;
}

.footer__wrapper {
  min-height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__button {
  background-color: transparent;
  border: none;
  margin: 0 8px 0 0;
}

.footer__text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  color: #FBFBFB;
  margin: 0 0 0 0px;
}

.registration {
  min-height: 148px;
  background-color: #F1E4E6;
  margin: 0 0 64px 0;
  /*border: $border-width solid $border-color;*/
  /*border: 1px solid cyan;*/
}

.registration__header {
  text-transform: uppercase;
  margin: 22px 0 22px 0;
}

.registration__title {
  position: relative;
  margin: 16px 0 0 0;
}

/*ОСТАЛСЯ ЭФФЕКТ НАВЕДЕНИЯ*/
.registration__title::before {
  position: absolute;
  width: 20px;
  height: 16px;
  /*border: 1px solid cyan;*/
  content: '';
  margin: 5px 0 0 -33px;
  background-image: url(../img/cursor.svg);
}

.registration__text_pink {
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  line-height: 29px;
  text-transform: uppercase;
  color: #F16D7F;
  padding: 60px 0 60px 230px;
}

.registration__text_black {
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  line-height: 29px;
  /*text-transform: uppercase;*/
  color: #222222;
}

.legend__text {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 19px;
  color: #222222;
  margin: 0 0 0 231px;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*border: $border-width solid $border-color;*/
}

.input-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*border: $border-width solid $border-color;*/
}

.input__block {
  display: block;
  width: 360px;
  margin: 22px 128px 22px 231px;
}

.input__text {
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  line-height: 16px;
  color: #B1B1B1;
  padding: 13px 0 16px 18px;
}

.input__gender {
  margin: 34px 0 35px 231px;
}

.radio__input {
  display: none;
}

/*ОСТАЛСЯ ЭФФЕКТ НАВЕДЕНИЯ*/
.radio__input:checked + .radio__label::before {
  background-image: url(../img/circle.svg);
  background-color: blue;
}

.radio__label {
  position: relative;
  margin: 0 50px 0 0;
  /*border: 1px solid red;*/
}

.radio__label:before {
  position: absolute;
  width: 17px;
  height: 17px;
  /*border: 1px solid cyan;*/
  content: '';
  left: -33px;
  background-image: url(../img/circle.svg);
  /*background-size: 20px 20px;*/
}

.registration__button {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  max-width: 167px;
  /*min-height: 47px;*/
  border: 1px solid #FF6A6A;
  color: #FFFFFF;
  background: #F16D7F;
  padding: 16px 66px 17px 29px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
  margin: 39px 0 96px 231px;
}

/*.last_name {
    display: block;
    margin: 21px 0 21px 231px;
}

.password {
    display: block;
    margin: 21px 0 21px 231px;
}*/
/*# sourceMappingURL=style.css.map */