.footer {
    background-color: $block-color - #222;

    &__wrapper {
        min-height: 79px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include mobile {
            flex-direction: column-reverse;
            //flex-direction: column;
        }
    }
    
    &__list {
        display: flex;
        @include mobile {
            margin: 43px 0 40px 0;
        }
    }
    
    &__button {
        background-color: transparent;
        border: none;
        margin: 0 8px 0 0;
    }
    
    &__text {
        @include font(16px, 19px, normal);
        color: $white-color;
        @include mobile {
            margin: 0 0 9px 0px;
        }
        
    }
    
}
