.header {
    background-color: $block-color;

    &__wrapper {
        min-height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo_wrapper {
        display: flex;
        align-items: center;
        margin: 0 0 0 32px;
    }
    &__logo {
        margin: 0 41px 0 0;
    }
    &__list {
        display: flex;
    }
    &__navigation {
        display: none;
    }
    &__button {
        background-color: transparent;
        border: none;
        margin: 0 0 0 33px;
    }
}

@media (max-width: $desktop-width) {
    .header {
        &__wrapper {
            width: 91.5%;
        }
    }
}

@media (max-width: $mobile-width) {
    .mobile-hide {
        display: none;
    }
}

