.subscribe {
    background: no-repeat center/100% url(../img/subscribe-back-gr-1.jpg);
    //background-position: bottom;
    //border: $border-width solid $border-color;
        @include tablet {
            background: url(../img/subscribe-back-gr-1.jpg);
            background-position: bottom;
        }
    
    &__list {
        min-height: 448px;
        display: flex;
        @include tablet {
            flex-direction: column;
        }
        @include mobile {
            flex-direction: column;
        }
        align-items: center;
        justify-content: space-around;
        margin: 0 0 0 0;
        /*border: 1px solid chocolate;*/
    }
    
    &__girl {
        width: 360px;
        /*height: 99px;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablet {
            margin: 54px 0 55px 0;
        }
        @include mobile {
            margin: 54px 0 55px 0;
        }
        /*border: 1px solid cyan;*/
    }
    
    &__girl_text {
        @include font(20px, 24px, normal);
        text-align: center;
        color: $black-color-4;
        margin-top: 50px;
    }

    &__email {
        display: flex;
        flex-direction: column;
        @include tablet {
            margin: 54px 0 55px 0;
        }
        @include mobile {
            margin: 54px 0 55px 0;
        }
        /*border: 1px solid cyan;*/
    }
    
    &__text_first {
        @include font(20px, 40px, bold);
        text-align: center;
        color: $black-color-4;
        text-transform: uppercase;
    }

    &__text_second {
        @include font(18px, 30px, bold);
        text-align: center;
        color: $black-color-4;
        text-transform: uppercase;
    }
    
    &__button {
        display: flex;
        position: relative;
        margin-top: 32px;
    }

    &__button_gray {
        /*min-width: 323px;
        min-height: 49px;
        border: 1px solid #FF6A6A;
        /*margin: 48px 0 0 500px;
        display: block;
        justify-content: center;*/
        width: 323px;
        @include font(14px, 17px, 400);
        text-align:left;
        color: $black-color-4;
        background: #E1E1E1;
        border-radius: 18px;
        text-decoration: none;
        /*display: flex;*/
        align-items: center;
        padding: 17px 0px 16px 22px;
        margin: 0px 0 0 0;
    }

    &__button_pink {
        /*min-width: 323px;
        min-height: 49px;
        border: 1px solid;
        /*margin: 48px 0 0 500px;
        display: block;
        justify-content: center;*/
        width: 100px;
        @include font(14px, 17px, 400);
        text-align: center;
        color: $white-color-abs;
        background: $pink-dark-color;
        border-radius: 0 18px 18px 0;
        text-decoration: none;
        /*display: flex;*/
        align-items: center;
        padding: 17px 7px 16px 8px;
        margin: 0 0 0 232px;
        position: absolute;
    }
}
