$width-site: 1600px;
$block-color: #777;
$white-color-abs: #FFFFFF;
$white-color: #FBFBFB;
$black-color: #222222;
$black-color-4: #222224;
$grey-color: #B1B1B1;
$pink-color: #F1E4E6;
$pink-dark-color: #F16D7F;
$border-width: 1px;
$border-color: red;
